{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="post whiteboard">
	<div class="title white">
		<h1>Change your Password!</h1>
		<p>Fill out the form below to change your password.</p>
	</div>
	<div class="description">
		<form method="post" id="loginForm" class="loginform">{% csrf_token %}
			<div class="form_post">
				<div class="fieldset_set">
					<fieldset class="first">
                        <span class="required2" id="labelpassword">Required</span>
                        <label class="label" for="password1">Old Password
			<span class="formerror">
                         {{ form.old_password.errors }}
                        </span></label>

                        <div class="field mod">
                            <div class="input_wrap">
                                {{ form.old_password }}
                            </div>
                        </div>
                    </fieldset>
					<fieldset>
                        <span class="required2" id="labelpassword">Required</span>
                        <label class="label" for="password1">New Password
			<span class="formerror">
                         {{ form.new_password1.errors }}
                        </span></label>

                        <div class="field mod">
                            <div class="input_wrap">
                                {{ form.new_password1 }}
                            </div>
                        </div>
                    </fieldset>
					<fieldset class="last">
                        <span class="required2" id="labelpassword">Required</span>
                        <label class="label" for="password1">New Password (confirm)
			<span class="formerror">
                         {{ form.new_password2.errors }}
                        </span></label>

                        <div class="field mod">
                            <div class="input_wrap">
                                {{ form.new_password2 }}
                            </div>
                        </div>
                    </fieldset>
				</div>
				<div class="button_set mod">					
                    <input id="loginsubmit" name="loginsubmit" type="submit" value="Change password" />					
                </div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
