{% extends "registration/registration_base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
<div class="post whiteboard">
	<div class="title white">
		<h1>Enter new Password!</h1>
		<p>Enter your new password below to reset your password.</p>
	</div>
	<div class="description">
		<form method="post" id="loginForm" class="loginform">{% csrf_token %}
			<div class="form_post">
				<div class="fieldset_set">
					<fieldset class="first">
                        <span class="required2" id="labelpassword">Required</span>
                        <label class="label" for="password1">New Password</label>
                        <div class="field mod">
                            <div class="input_wrap">
                                {{ form.new_password1 }}
                            </div>
                        </div>
                    </fieldset>
					<fieldset class="last">
                        <span class="required2" id="labelpassword">Required</span>
                        <label class="label" for="password1">New Password (confirm)</label>
                        <div class="field mod">
                            <div class="input_wrap">
                                {{ form.new_password2 }}
                            </div>
                        </div>
                    </fieldset>
				</div>
				<div class="button_set mod">					
                    <input id="loginsubmit" name="loginsubmit" type="submit" value="Set password" />					
                </div>
			</div>
		</form>
	</div>
</div>
	{% endblock %}

