{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<div class="post whiteboard">

	<div class="title white">
		<h1>Forgot your password?</h1>
		<p>Enter your email in the form below and we'll send you
instructions for creating a new one.</p>
	</div>

<div class="description">
		<form method="post" id="loginForm" class="loginform">
			<div class="form_post">
				<div class="fieldset_set">
					<fieldset class="first">
                        <span class="required2" id="labelemail">Required</span>
                        <label class="label" for="email">Email
			<span class="formerror">
                         {{ form.email.errors }}
                        </span></label>
                        <div class="field mod">
                            <div class="input_wrap">
                                {{ form.email }}
                            </div>
                        </div>						
                    </fieldset>
				</div>
				<div class="button_set mod">					
                    <input id="loginsubmit" name="loginsubmit" type="submit" value="Reset password" />
					
                </div>
			</div>
			{% csrf_token %}
		</form>
	</div>
</div>

{% endblock %}
