@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Montserrat:400,700');
@import 'mixin';
$font-family-sans-serif: 'Roboto', Helvetica, arial, sans-serif;
$font-family-display: 'Montserrat', Helvetica, arial, sans-serif;
$brand-primary: #8BC34A;
$brand-secondary: #60a917;
$dark-secondary: darken($brand-secondary, 11.5%);
$very-dark-secondary: darken($brand-secondary, 33.5%);
$light-secondary: lighten($brand-secondary, 22.5%);
$dark-brand: darken($brand-primary, 10.5%);
$very-dark-brand: darken($brand-primary, 33.5%);
$light-brand: lighten($brand-primary, 35.5%);
$spacer: 0.5em;
@import 'paper/variables';
@import '../components/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'paper/swatch';
$gray-lightest: lighten($gray-base, 99%);
$chosen-sprite-path: "../static/bootstrap-chosen/chosen-sprite.png" !default;
$chosen-sprite-retina-path: "../static/bootstrap-chosen/chosen-sprite@2x.png" !default;
$chosen-border: 0 !default;
$chosen-box-shadow: inset 0 -1px 0 #ddd;
$chosen-focus-border: 0;
$chosen-focus-box-shadow: inset 0 -2px 0 $brand-primary;
$chosen-focus-transition: 0 !default;
@import '../components/bootstrap-chosen/bootstrap-chosen';
$fa-font-path: "../static/font-awesome/fonts";
@import '../components/font-awesome/scss/font-awesome';
@import '../components/bootstrap-social/bootstrap-social';
.navbar {
    .nav {
        > li {
            > a {
                color      : $dark-brand;
                font-weight: bold;
                &:focus,
                &:hover {
                    color           : $navbar-default-link-active-color;
                    background-color: $navbar-default-link-active-bg;
                }
            }
            > a:not(.dropdown-toggle) {
                text-transform: uppercase;
            }
        }
    }
}
// hacky thing
.navbar-form .input-group .input-group-btn {
    width: 1%;
}
.navbar-header {
    @include screen-tablet {
        margin: 0;
    };
}
html {
    min-height: 100%;
}
body {}
body > .content {
    .container,
    .row {
        @include screen-tablet {
            padding: 0;
        };
    }
    @extend .container-fluid;
    @include screen-tablet {
        padding: 0;
    };
}
button,
input[type='submit'] {
    @extend .btn;
}
input[type='submit'] {
    @extend .btn-primary;
}
@import "compass/css3";
body > header {
    .container,
    .row {
        @include screen-tablet {
            padding: 0;
        };
    };
    .navbar-brand {
        padding: 0 $navbar-padding-horizontal;
        img {
            background-color: $dark-brand;
            width           : auto;
            height          : 50px;
        }
    }
    .navbar {
        .navbar-login {
            width  : 305px;
            padding: 10px 10px 0;
        }
        .navbar-login-session {
            padding: 0 10px;
        }
        .navbar-brand {
            height: auto;
        }
    }
}
body > .content > main {
    @extend .container-fluid;
    @include screen-tablet {
        padding: 0;
    };
    .sidebar {
        .search-panel {
            padding-bottom: $line-height-computed;
        }
        @extend .col-sm-3;
        ul {
            @extend .list-group;
            li {
                @extend .list-group-item;
            }
        }
    }
    article {
        @extend .col-sm-9;
    }
}
body > footer {
    background: $gray-darker;
    border-top: $brand-secondary 5px solid;
    .main-footer {
        padding: 20px 0;
    }
    .footer-copyright {
        padding: 5px 0;
        p {
            color : #969696;
            margin: 2px 0 0;
        }
    }
    .btn-footer {
        @include button-variant($btn-primary-color, $brand-secondary, darken($brand-secondary, 5%));
        &:hover {
            @include button-variant($btn-primary-color, $btn-primary-border, $btn-primary-bg);
        }
    }
    .widget {
        padding      : 20px;
        margin-bottom: 40px;
        &.widget-last {
            margin-bottom: 0;
        }
        &.no-box {
            padding: 0;
        }
        &.subscribe p {
            margin-bottom: 18px;
        }
        li a {
            color: $brand-secondary;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    .widget-title {
        margin-bottom: 20px;
        span {
            background: $dark-brand none repeat scroll 0 0;
            display   : block;
            height    : 1px;
            margin-top: 10px;
            position  : relative;
            width     : 75%;
        }
        &.text-center span {
            margin-left : auto;
            margin-right: auto;
            left        : 0;
            right       : 0;
            &::after {
                margin-left : auto;
                margin-right: auto;
                left        : 0;
                right       : 0;
            }
        }
    }
    .typo-light {
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        small {
            color: $gray-lighter;
        }
    }
}
.list-group {
    .job-list {
        @extend .row;
        @media (min-width: $screen-sm-min) {
            align-items: center;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    }
}
.listing {
    .title {
        .share {
            margin-top: $line-height-computed;
        }
    }
    .job-category {
        padding: 0.3em 0.6em;
    }
    .description {
        @extend .list-group-item, .well, .well-lg;
        margin-bottom: 0;
    }
    .package {
        @extend .list-group-item-success;
    }
    .apply {
        @extend .list-group-item-info;
    }
}
.post {
    .panel {
        .panel-body {
            @include screen-tablet {
                padding: 0;
            };
        }
    }
    form {
        input[type]:not([type=search]):not([type=url]):not([type=hidden]):not([type=submit]):not([type=file]),
        select,
        textarea {
            @extend .form-control;
        }
        .input-block {
            @extend .well, .well-sm;
        }
    }
}
form {
    .form-group {
        &.has-error {
            .chosen-container > a {
                background-color: $state-danger-bg;
            }
        }
        &.has-warning {
            .chosen-container > a {
                background-color: $state-warning-bg;
            }
        }
        &.has-success {
            .chosen-container > a {
                background-color: $state-success-bg;
            }
        }
    }
}
.panel-page-title {
    font-weight: bold;
}
.job_tag_label,
.tag-list > a > .label {
    font-size  : 100%;
    line-height: 2em;
}
