html {
  -webkit-font-smoothing: antialiased;
}
body {
  text-shadow: rgba(255, 255, 255, 0.1) 1px 1px 1px;
}
/* Anchors
----------------------------------------------------------------------- */
a {
  text-shadow: rgba(255, 255, 255, 0.1) 1px 1px 1px;
}
a.dark, .dark a {
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 1px;
}
/* Buttons
----------------------------------------------------------------------- */
.button, input[type=submit], .qq-upload-button {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button:active, input[type=submit]:active {
  -webkit-transform: translatey(1px);
  -moz-transform: translatey(1px);
}
.white.button, .white.input[type=submit] {
  text-shadow: 0 1px 1px #ffffff;
}
.secondary.button {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
.super.button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
.super.button span {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.small.super.button {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.small.super.button span {
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
}
.large.super.button {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
}
.large.super.button span {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
}
/* .push {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Sidebar
----------------------------------------------------------------------- */
.sidebar .cell {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sidebar .tablets li {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.sidebar .tablets li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.sidebar .tablets li a span {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.sidebar table caption {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sidebar table tfoot #last {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidebar table tfoot #next {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ui-datepicker {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* ----------------------------------------------------------------------
INDIVIDUAL CONTENT BLOCKS
----------------------------------------------------------------------- */
/* Message
----------------------------------------------------------------------- */
.message {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.message.red {
  text-shadow: #712f23 0px -1px 1px;
}
.message.red a {
  text-shadow: #712f23 0px -1px 1px;
}
.message.green {
  text-shadow: #577118 0px -1px 1px;
}
.message.green a {
  text-shadow: #577118 0px -1px 1px;
}
/* Title Set
----------------------------------------------------------------------- */
.title_set ul li.active strong {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* Search - Filter Block
----------------------------------------------------------------------- */
.filter {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.filter .push {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.filter ul {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.filter li a {
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
}
.filter li.categories span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.filter li.categories span input[type=text] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.filter li.search form span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.filter li.search form span input[type=text] {
  text-shadow: rgba(0, 0, 0, 0.1);
}
.filter.alt li a {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}
.filter.alt li a span {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}
/* Required Badge
-----------------------------------------------------------------------*/
span.required {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* New Badge
-----------------------------------------------------------------------*/
em.new {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* Sub
-----------------------------------------------------------------------*/
.sub {
  text-shadow: 0px 1px 1px #555;
}
.sub .count {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sub .meta a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* Title
----------------------------------------------------------------------- */
.title {
  text-shadow: 0px 1px 1px #222;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* whiteboard
----------------------------------------------------------------------- */
.whiteboard {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* QuickSearch
----------------------------------------------------------------------- */
.quicksearch form span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* Tags
----------------------------------------------------------------------- */
/* Category Menu
-----------------------------------------------------------------------*/
.category_menu {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.category_menu ul {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.category_menu ul li.cat-item-all a, .category_menu ul li.cat-item-all.current-cat a {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.category_menu ul li.rss a {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Descriptive Text
----------------------------------------------------------------------- */
.cms img {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
/* Paging
----------------------------------------------------------------------- */
.paging {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.paging ul li a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.paging ul li a span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* Cap
----------------------------------------------------------------------- */
.cap {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Form Set
----------------------------------------------------------------------- */
.form_post .fieldset_set {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* Form Set
----------------------------------------------------------------------- */
.form_set .fieldset_set {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.form_set fieldset .field .input_wrap {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* Form Apply
-----------------------------------------------------------------------*/
.form_apply .field .input_wrap {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.form_apply .field_inline.first {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.form_apply .button_set {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Form Apply	
-----------------------------------------------------------------------*/
.apply {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#loading {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* 
jQuery Autocomplete
----------------------------------------------------------------------- */
.ac_results ul {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* Select Styled
----------------------------------------------------------------------- */
Custom form select element.cmf-skinned-select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type=text], textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
