{% extends "account/base.html" %}
{% load bootstrap %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{% trans "Password Reset" %}</h1>
        </div>

        {% if user.is_authenticated %}
            <div class="panel-body bg-warning">
                {% include "account/snippets/already_logged_in.html" %}
            </div>
        {% endif %}

        <div class="panel-body">
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-horizontal">
            <div class="panel-body">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
            </div>
            <div class="panel-footer clearfix">
                <input class="btn btn-primary pull-right" type="submit" name="action" value="{% trans 'Reset My Password' %}"/>
            </div>
        </form>

    </div>

{% endblock %}
{% templatetag closeblock %}
