{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{% trans "Set Password" %}</h1>
        </div>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_reset form-horizontal">
            <div class="panel-body">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
            </div>
            <div class="panel-footer clearfix">
                <input class="btn btn-primary pull-right" type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </div>
        </form>
    </div>

{% endblock %}
