{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{% trans "Password Reset" %}</h1>
        </div>

        {% if user.is_authenticated %}
            <div class="panel-body bg-warning">
                {% include "account/snippets/already_logged_in.html" %}
            </div>
        {% endif %}

        <div class="panel-body">
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>  
{% endblock %}
