{% extends "account/base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-horizontal">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-page-title">{% trans "Change Password" %}</h2>
            </div>
            <div class="panel-body">
                {{ form|bootstrap_horizontal }}
            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-primary pull-right" name="action" type="submit">{% trans "Change Password" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
