{% extends "account/base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="panel {% if token_fail %} panel-danger {% else %} panel-default {% endif %}">
        <div class="panel-heading">
            <h1>
                {% if token_fail %}{% trans "Bad Token" %}
                {% else %}{% trans "Change Password" %}{% endif %}
            </h1>
        </div>
        {% if token_fail %}
            <div class="panel-body">
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a
                    <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            </div>
        {% else %}
            {% if form %}
                <form method="POST" action="." class="form-horizontal">
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap_horizontal }}
                    </div>
                    <div class="panel-footer clearfix">
                        <input class="btn btn-primary pull-right" type="submit" name="action" value="{% trans 'Change Password' %}"/>
                    </div>
                </form>
            {% else %}
                <div class="panel-body">
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
