{% extends "account/base.html" %}
{% load account socialaccount %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="whiteboard">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{% trans "Sign Up" %}</h1>
            </div>
            <div class="panel-body">
              <p>{% blocktrans %}Already have an account? Then please
                  <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
              <p>{% blocktrans with site.name as site_name %}You can register with one
              of your existing third party accounts. Or, sign up
              for a {{ site_name }} account below:{% endblocktrans %}</p>

              <div class="socialaccount_ballot text-center">
                  <div class="socialaccount_providers btn-group ">
                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </div>
                  <h3 class="login-or">{% trans 'or' %}</h3>
              </div>
            </div>

              {% include "socialaccount/snippets/login_extra.html" %}

            {% endif %}

            <form id="signup_form" method="post" action="{% url 'account_signup' %}" class="signup form-horizontal">
                <div class="panel-body">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                </div>
                <div class="panel-footer clearfix">
                    <input class="btn btn-primary pull-right" type="submit" name="action" value="{% trans 'Sign Up' %}"/>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
