{% extends "jobs/base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}

<div class="post whiteboard">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-page-title">Apply for this position</h2>
			<p>
				For help,
				<a href="#">click here</a>
			</p>
		</div>

		<form id="post" enctype="multipart/form-data" name="post" action="" method="post">{% csrf_token %}
			<div class="panel-body">
				<div class="form-group {% if form.resume.errors %} has-error {% endif %}">
					<label for="inputEmail3" class="col-sm-2 control-label">{{ form.resume.label_tag }}</label>
					<div class="col-sm-10">
						{{ form.resume|attr:'required:true'}}
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="form-group {% if form.notes.errors %} has-error {% endif %}">
					<label for="inputEmail3" class="col-sm-2 control-label">{{ form.notes.label_tag }}</label>
					<div class="col-sm-10">
						{{ form.notes|attr:'required:true' }}
						<p class="help-block">Add any applicable notes that you feel may be important for this application.</p>
						<div class="help-block with-errors"></div>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<input id="jobapplysubmit" name="jobapplysubmit" type="submit" value="Apply" class="btn btn-primary pull-right"/>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$("#post").validator();

		$('#jobapplysubmit').click(function () {
			$("#post").validator('validate')
			return true;
		});

	});
</script>
{% endblock %}
