{% extends "jobs/base.html" %}
{% block content %}

	<div class="results whiteboard">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-page-title">Applications for {{job}}</h2>
			</div>
			<ol class="list-group">
				{% for app in applications %}
					<li class="list-group-item">
						<div class="details">
							<h3>
								<a href="">{{ app.user }}</a>
							</h3>
							<div class="company">
									<div class="panel-body">
										{{ app.notes }}
									</div>
							</div>
						</div>
						<div class="meta container-fluid">
							<span>Submitted: {{ app.created }}</span>
							<a class="pull-right btn btn-primary" href="/jobs/static/{{ app.resume }}">Résumé Download</a>
						</div>
					</li>
					{% empty %}
					<li class="list-group-item">
						This job doesn't have any applications.
					</li>
				{% endfor %}
			</ol>
		</div>
		<div class="cap"></div>

	</div>
{% endblock %}
