{% extends "jobs/base.html" %}
{% block content %}

	<div class="results whiteboard">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="">Jobs you've applied for</h2>
			</div>
			<ol class="list-group">
				{% for job in job_list %}
					<li class="list-group-item design filter_2">
						<div class="details">
							<h3>
								<a href="show/{{ job.title|slugify }}/{{ job.id}}">{{ job.title }}</a>
							</h3>
							<div class="company">
								<p>{{ job.company }}</p>
							</div>
						</div>
						<div class="meta">
							<dl>
								<dt>{{ job.city }},
									{{ job.region }}</dt>
								<dd>{{ job.get_type_display }}</dd>
							</dl>
						</div>
                        <div class="datestamp">
							<span>Applied: 
                            {% for app in job.jobapply_set.all %}
                                {% if app.user.id = user.id %}
                                    {{ app.created }}
                                {% endif %}
                            {% endfor %}
                            </span>
						</div>
					</li>
					{% empty %}
					<li class="list-group-item design_filter_2">
						You have not applied for any jobs.
					</li>
				{% endfor %}
			</ol>

			<div class="cap"></div>
		</div>

	</div>
{% endblock %}
