{% extends "jobs/base.html" %}
{% block content %}
{% load markdownify %}
	<div class="results whiteboard">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-page-title">Jobs you've applied for</h2>
			</div>
			<ol class="list-group">
				{% for job in job_list %}
					<li class="list-group-item design filter_2">
						<div class="details">
							<h3>
								<a href="show/{{ job.title|slugify }}/{{ job.id}}">{{ job.title }}</a>
							</h3>
						</div>
						<div class="meta">
							<dl>
								<dt>{{ job.city }},
									{{ job.region }}</dt>
								<dd>{{ job.get_type_display }}</dd>
							</dl>
						</div>
                        <div class="meta">
                            {% for app in job.jobapply_set.all %}
                                {% if app.user.id = user.id %}
                                    <div>
                                        <p>Notes: </p>
																				<div class="well well-sm">
																					{{ app.notes|safe }}
																				</div>
                                    </div>
                                    <div>
                                        <span>Résumé: <a href="{{MEDIA_URL}}{{ app.resume }}">download</a></span>
                                    </div>
                                    <div>
                                        <span>Applied: {{ app.created }}</span>
                                    </div>
                                 {% endif %}
                            {% endfor %}
						</div>
					</li>
					{% empty %}
					<li class="list-group-item design_filter_2">
						You have not applied for any jobs.
					</li>
				{% endfor %}
			</ol>

			<div class="cap"></div>
		</div>

	</div>
{% endblock %}
