{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Oddit - Odd IT Jobs</title>
            <link rel='index' title='Oddit' href='index.html'/>

            <link rel="apple-touch-icon" sizes="57x57" href="/static/images/fav/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/static/images/fav/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/static/images/fav/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/static/images/fav/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="/static/images/fav/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="/static/images/fav/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="/static/images/fav/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="/static/images/fav/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/static/images/fav/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192" href="/static/images/fav/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/static/images/fav/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="/static/images/fav/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/static/images/fav/favicon-16x16.png">
            <link rel="manifest" href="/static/images/fav/manifest.json">
            <meta name="msapplication-TileColor" content="#8BC34A">
            <meta name="msapplication-TileImage" content="/static/images/fav/ms-icon-144x144.png">
            <meta name="theme-color" content="#8BC34A">

            {% load compress %}
            {% load staticfiles %}
            {% compress js %}
            <script type="text/javascript" src="/static/scripts/modernizr.js"></script>
            <script type="text/javascript" src="/static/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="/static/chosen/chosen.jquery.js"></script>
            <script type="text/javascript" src="/static/moment/moment.js"></script>
            <script type="text/javascript" src="/static/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
            <script type="text/javascript" src="/static/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
            <script type="text/javascript" src="/static/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

            <script type="text/javascript" src="/static/bootstrap-validator/dist/validator.js"></script>
            <script type="text/javascript" src="/static/toastr/toastr.js"></script>

            <script type="text/javascript" src="/static/scripts/jquery.autocomplete.pack.js"></script>
            <script type="text/javascript" src="/static/scripts/jquery.pngfix.js"></script>
            <script type="text/javascript" src="/static/scripts/jcookie.js"></script>

            {% endcompress %}
            <script type="text/javascript">
                $(document).ready(function () {
                        var socket = new WebSocket("wss://" + window.location.host + "/lobby/");
                        socket.onmessage = function (e) {
                            toastr.info(e.data, "", {"positionClass": "toast-bottom-center"});
                            var $number = $("#notify_count");
                            $number.html((parseInt($number.html(),10) || 0) + 1);
                        }
                });
            </script>
            {% compress css %}
            <link rel="stylesheet" type="text/scss" href="{% static 'base.scss' %}"/>
            <link rel="stylesheet" type="text/css" href="/static/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css"/>
            {% endcompress %}

        {% endblock %}
    <title>My Project</title>
</head>
<body style="background-color: #E8E8E8;">
        <header>
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                        </button>
                        <a class="navbar-brand" id="brand-logo" href="http://oddit.co.nz">
                            <img alt="oddit" src="/static/images/odditx_lg.png"/>
                        </a>

                    </div>
                        <ul class="nav navbar-form navbar-right">
                            <li class="dropdown">
                                {% if user.is_authenticated %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% if notify_count > 0 %}
                                            <span id="notify_count" class="badge">{{notify_count}}</span>
                                        {% endif %}
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        {% if not user.first_name %}
                                            <strong>{{ user.username }}</strong>
                                        {% else %}
                                            <strong>{{ user.first_name }}</strong>
                                        {% endif %}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-login">
                                                <p class="text-left">
                                                    {% if not user.first_name %}
                                                        <strong>{{ user.username }}</strong>
                                                    {% else %}
                                                        <strong>{{ user.first_name }}
                                                            {{ user.last_name }}</strong>
                                                    {% endif %}
                                                </p>
                                                <p class="text-left small">{{ user.email }}</p>
                                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                                    <a href="/my-profile" class="btn btn-primary btn-block">Profile</a>
                                                    <a href="/accounts/logout/" class="btn btn-danger btn-block">Logout</a>
                                                </div>
                                            </div>
                                    </ul>
                                {% else %}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Register/Sign In
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-login navbar-login-session">
                                                <p>
                                                    <a href="/accounts/signup/" class="btn btn-danger btn-block">Register</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="navbar-login navbar-login-session">
                                                <p>
                                                    <a href="/accounts/login" class="btn btn-danger btn-block">Sign In</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
</header>
<div style="background-color: black; padding: 10px; opacity: 0.7; display: block; width: 50%; margin-left: 25%">
                        <form class="navbar-form" action="/jobs/search" method="get" role="search">
                            <div class="input-group">
                                <input type="text" style="border: 1px solid lightgrey" class="form-control" name="query" id="search_box" value="Search: ‘css’, ‘javascript’, ‘rails’…" onfocus="if (this.value == 'Search: ‘css’, ‘javascript’, ‘rails’…') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search: ‘css’, ‘javascript’, ‘rails’…';}"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-header" id="submit" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br/>
        <div class="content">
            <main>
                    {% block content %}{% endblock %}
</main>
</body>

