<h1>{{ job.name }}</h1>
<p>Category: {{ job.category }}</p>
<p>Description: {{ job.description }}</p>
<p>Company: {{ job.company }}</p>
<p>Company URL: {{ company.url }}</p>
<p>Position: {{ job.position }}</p>
<p>Where: {{ job.city }}, {{ job.region }}</p>
<p>Remote work: {{ job.get_remote_display }}</p>
<p>Application opened: {{ job.created }}</p>
<p>Last updated: {{ job.updated }}</p>
<p>Job type: {{ job.get_type_display }}</p>
<p>Wage: {{ job.wage }}</p>
<p>Posters IP: {{ job.ip }}</p>
<p>Applications close: {{ job.expires }}</p>
<p>Featured post: {{ job.featured }}</p>
<p>Bold post: {{ job.bold }}</p>
