{% extends "jobs/base.html" %}
{% block content %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-page-title">Cancel Job?</h2>
		</div>
		<div class="panel-body">
			<div class="description">
				<form id="post" name="post" action="" method="post">{% csrf_token %}
					<div class="form_post">
						<div class="btn-group">
							<button id="jobsubmitno" name="no" type="submit" class="btn btn-default">No</button>
							<button id="jobsubmityes" name="yes" type="submit" class="btn btn-warning">Yes</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
