{% extends "jobs/base.html" %} {% block content %}
{% load humanize %}
<div class="listing panel panel-primary">
	<div class="title white panel-body">
		<div class="row">
			<div class="jobtitle col-lg-8">
				<h1>{{ job.title }}</h1>
				<h3>{{ job.company }}</h3>
			</div>
			<div class="jobtitle col-lg-8">
                <p>This position is in {{ job.city }}, {{ job.region }}</p>
            </div>
			<div class="share col-lg-4 text-right">
				<ul class="list-inline">
	        <li><a href="#">
	            <span class="fa-stack fa-lg">
	                <i class="fa fa-circle fa-stack-2x"></i>
	                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	            </span>
	        </a></li>
	        <li><a href="#">
	            <span class="fa-stack fa-lg">
	                <i class="fa fa-circle fa-stack-2x"></i>
	                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	            </span>
	        </a></li>
	        <li><a href="#">
	            <span class="fa-stack fa-lg">
	                <i class="fa fa-circle fa-stack-2x"></i>
	                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
	            </span>
	        </a></li>
	    	</ul>
			</div>
		</div>
	</div>

	<div class="panel-heading">
			<h3 class="panel-title">
				This is a <strong>{{ job.get_type_display }}</strong> position in <strong>{{ job.region }}</strong> posted <strong>{{ job.updated|date:"D d M Y" }}</strong>.
				<span class="label label-info pull-right job-category">{{ job.category }}</span>
			</h3>
	</div>

	<ul class="list-group">
		<li class="list-group-item description">
			<p>{{ job.description|linebreaksbr }}</p>
		</li>
		<li class="list-group-item package">
			<h3 class="list-group-item-heading">Package</h3>
			<div>
				<p><span>Budget:</span> ${{ job.budget|intcomma }}</p>
				<p><span>Benefits:</span>
				<ul>
					<li>Company car</li>
					<li>15 weeks paid vacation</li>
				</ul>
			</div>
		</li>

		<li class="list-group-item apply">
			<h3 class="list-group-item-heading">How to apply</h3>
			<p>To apply for this job, please click the apply button</p>
			{% if applied %}
				<a class="btn btn-warning btn-block" href="#">Already applied</a>
			{% else %}
				<a class="btn btn-info btn-block" href="/jobs/apply/{{ job.id }}/">Apply</a>
			{% endif %}	
		</li>
	</ul>


</div>
{% endblock %}
