{% extends "jobs/base.html" %} {% block content %}
{% load humanize %}
<div class="listing panel panel-primary">
	<div class="title white panel-body">
		<div class="row">
			<div class="jobtitle col-lg-8">
				<h1>{{ job.title }}</h1>
			</div>
			<div class="jobtitle col-lg-8">
                <p>This position is in {{ job.city }}, {{ job.region }}</p>
            </div>
		</div>
	</div>

	<div class="panel-heading">
			<h3 class="panel-title">
                Posted <strong>{{ job.updated|date:"D d M Y" }}</strong>
				<span class="label label-info pull-right job-category">{{ job.category }}</span>
			</h3>
	</div>

	<ul class="list-group">
		<li class="list-group-item description">
			<h4 class="list-group-item-heading">Job Details</h4>
            <p></p>
			<p>{{ job.description|linebreaksbr }}</p>
			<p><span>Budget:</span> ${{ job.budget|intcomma }}</p>
            <hr />
            <p>Job added by <a href="#"><strong>{{ job.company }}</strong></a> 
		</li>

		<li class="list-group-item apply">
			{% if applied %}
				<a class="btn btn-warning btn-block" href="#">Already applied</a>
			{% else %}
				<a class="btn btn-info btn-block" href="/jobs/apply/{{ job.id }}/">Apply</a>
			{% endif %}	
		</li>
	</ul>


</div>
{% endblock %}
