{% extends "jobs/base.html" %} {% block content %}
{% load humanize %}
<div class="listing whiteboard">
	<div class="title white">
		<div>
			<h1>{{ job.title }}</h1>
		</div>
		<div class="share">
			<a font-size: 16px" class="button red" href="/jobs/apply/{{ job.id }}/">Apply</a>
		</div>
		<p>{{ job.company }}</p>
	</div>
	<div class="sub orange">
		<div class="meta"><a href=''><span>{{ job.category }}</span></a></div>
		<h2>This is a <strong>{{ job.get_type_display }}</strong> position in <strong>{{ job.region }}</strong> posted <strong>{{ job.updated|date:"D d M Y" }}</strong>.</h2>
	</div>
	<div class="description cms">
		<p>{{ job.description|linebreaksbr }}</p>
	</div>
	<div class="package">
		<div class="subtitle"><h3>Package</h3></div>
		<div>
			<p><span>Budget:</span> ${{ job.budget|intcomma }}</p>
			<p><span>Benefits:</span>
			<ul>
				<li>Company car</li>
				<li>15 weeks paid vacation</li>
			</ul>
		</div>
	</div>
	<div class="apply">
		<div class="subtitle"><h3>How to apply</h3></div>
		<p>To apply for this job, please click the apply button</p>
		<div class="button_set">
			<a font-size: 16px" class="button red large" href="/jobs/apply/{{ job.id }}/">Apply</a>
		</div>
	</div>

</div>

</div>
{% endblock %}
