{% extends "jobs/base.html" %}
{% block content %}

	<div class="results whiteboard">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-page-title">Jobs you've posted</h2>
			</div>
			<ol class="list-group">
				{% for job in job_list %}
					<li class="list-group-item container-fluid">
						<div class="details">
							<h3>
								<a href="show/{{ job.title|slugify }}/{{ job.id}}">{{ job.title }}</a>
							</h3>
						</div>
						<div class="meta">
							<dl>
								<dt>{{ job.city }},
									{{ job.region }}</dt>
								<dd>{{ job.get_type_display }}</dd>
							</dl>
						</div>
						{% ifequal job.status 2 %}
							<div class="datestamp text-info">
								<span>Expired (manual): {{ job.expires }}</span>
							</div>
						{% else %}
							<div class="datestamp">
								<span>Expires: {{ job.expires }}</span>
							</div>
						{% endifequal %}

						<div class="clearfix">
							<div class="btn-group pull-right" role="group" aria-label="...">
								<a class="btn btn-default" href="applications/{{ job.title|slugify }}/{{ job.id}}">{{job.jobapply_set.all|length}}
										application{{job.jobapply_set.all|length|pluralize}}</a>
								<a class="btn btn-info" href="edit/{{ job.id}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
								{% ifnotequal job.status 2 %}
									<a class="btn btn-warning" href="expire/{{job.id}}"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
								{% endifnotequal %}
								<a class="btn btn-danger" href=""><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
							</div>
						</div>

					</li>
					{% empty %}
					<li class="list-group-item design_filter_2">
						You have not posted any jobs.
					</li>
				{% endfor %}
			</ol>
		</div>
	</div>
{% endblock %}
