{% extends "jobs/base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}
{% load wysiwyg %}
{% block content %}
	<div class="post whiteboard">
		<div class="panel panel-default">
			<div class="panel-heading">
				{% if form.instance.pk %}
					<h2 class="panel-page-title">Edit Job</h2>
				{% else %}
					<h2 class="panel-page-title">Post a Job</h2>
				{% endif %}
				<p>
					For help,
					<a href="#">click here</a>
				</p>
			</div>
			<form id="post" name="post"  action="" method="post" class="form-horizontal">{% csrf_token %}
				{% wysiwyg_setup %}
				<div class="panel-body">

					<div class="input-block">
						<div class="form-group {% if form.title.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.title.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.title|attr:'required:true'}}
								{% wysiwyg_editor "id_description" %}
								<p class="help-block">Enter a descriptive title for the job listing.</p>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>

					<div class="input-block">
						<div class="form-group {% if form.category.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.category.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.category|attr:'required:true'}}
								<p class="help-block">Select a category that best suits the job listing.</p>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group {% if form.description.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.description.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.description|attr:'required:true' }}
								<p class="help-block">Fill in as much detail as you can about the position, outlining responsibilities, perks and information about your company.</p>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>

					<div class="input-block">
						<div class="form-group {% if form.position.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.position.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.position|attr:'required:true' }}
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<div class="form-group {% if form.remote.error %} has error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.remote.label_tag }}</label>
                                                        <div class="col-sm-10">
                                                                {{ form.remote|attr:'required:true' }}
                                                                <p class="help-block">Can this job be worked on from a remote location?</p>
                                                                <div class="help-block with-errors"></div>
                                                        </div>

						</div>
					</div>

					<div class="input-block">
						<div class="form-group {% if form.region.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.region.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.region|attr:'required:true' }}
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group {% if form.city.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.city.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.city|attr:'required:true' }}
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>

					<div class="input-block">
						<div class="form-group {% if form.type.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.type.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.type|attr:'required:true' }}
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>

					<div class="input-block">
						<div class="form-group {% if form.budget.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.budget.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.budget|attr:'required:true'|attr:'type:number'|attr:'step:any' }}
								<p class="help-block">Enter in the budget/wage for this job.</p>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>

					<div class="input-block">
						<div class="form-group {% if form.expires.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.expires.label_tag }}</label>
							<div class='col-sm-10'>
								{{ form.expires|attr:'required:true' }}
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="form-group {% if form.tag_list.errors %} has-error {% endif %}">
							<label for="inputEmail3" class="col-sm-2 control-label">{{ form.tag_list.label_tag }}</label>
							<div class="col-sm-10">
								{{ form.tag_list|attr:'required:true' }}
								<p class="help-block">Comma seperated tags describing this job.</p>
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer clearfix">
					<input id="jobsubmit" name="jobsubmit" type="submit" value="Submit Listing" class="btn btn-primary pull-right"/>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#id_category, #id_position, #id_type, #id_budget_type').chosen({disable_search_threshold: 10});
			$('#id_remote').chosen({disable_search_threshold: 10});
			$('#id_region').chosen({disable_search_threshold: 10});
			$('#id_city').chosen({disable_search_threshold: 10});
			$('#id_tag_list').tagsinput({
			  tagClass: 'label label-info job_tag_label'
			});
		});

		if (!Modernizr.touchevents || !Modernizr.inputtypes.date) {
			$('.datepicker').prop('type', 'text');
			$('.datepicker').datepicker();
		} else {}

		$(document).ready(function () {
			$.fn.validator.Constructor.INPUT_SELECTOR += ':not(.chosen-search input)'
			$("#post").validator();
			$('#id_region').on('change', function (evt, params) {
				val = this.value;
				$.post("/jobs/new/region", {
					id: val,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				}, function (data) {
					$('#id_city').find('option').remove().end();
					var rawCities = data.split('|');
					rawCities.pop();
					$('#id_city').append('<option value="" selected="selected">---------</option>');
					$.each(rawCities, function (index, value) {
						rawCity = value.split(':');
						$('#id_city').append('<option value="' + rawCity[0] + '">' + rawCity[1] + '</option>');
					});
					$("#id_city").trigger("chosen:updated");
				});
			});

			$('#jobsubmit').click(function () {
				$("#post").validator('validate')
				return true;
			});

		});
	</script>
{% endblock %}
