{% extends "jobs/base.html" %}
{% load humanize %}
{% load job_extras %}
{% block content %}

	<div class="focus">
		<div class="listing whiteboard">
			<div class="panel panel-info">
				<div class="panel-body">
                    {%if view_user.id = user.id %}
					<h2 class="panel-page-title">Your Profile</h2>
                    {% else %}
                    <h1>{{ view_user.first_name}}'s Profile</h1>
                    {% endif %}
				</div>
				<div class="panel-heading">
					<h3 class="panel-title">
                        {%if view_user.id = user.id %}
                            {%if not user.first_name or not user.last_name %}
                                <span class="text-muted">Complete your profile</span>
                            {% else %}
                                {{user.first_name}}
                                {{user.last_name}}
                            {% endif %}
                        {% else %}
                            {{user.first_name}}
                            {{user.last_name}}
                        {% endif %}
                    </h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3 " align="center">
                            {%if view_user.id = user.id %} {{ user.email|avatar }} {% else %} {{ view_user.email|avatar }} {% endif %}
						</div>
						<div class="col-lg-9 ">
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td>Location:</td>
										<td>{%if view_user.id = user.id %} {{ user.profile.location }} {% else %} {{ view_user.profile.location }} {% endif %}</td>
									</tr>
									<tr>
										<td>Join Date:</td>
										<td>{%if view_user.id = user.id %} {{ user.date_joined }} {% else %} {{ view_user.date_joined }} {% endif %}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>
											{%if view_user.id = user.id %} {{ user.email }} {% else %} {{ view_user.email }} {% endif %}
										</td>
									</tr>
									<tr>
										<td>Contact Number</td>
										<td>{%if view_user.id = user.id %} {{ user.profile.phone }} {% else %} {{ view_user.profile.phone }} {% endif %}</td>
									</tr>
									<tr>
										<td>
											Skills
										</td>
										<td>
											<span class="label label-default">Python</span>
											<span class="label label-default">Java</span>
											<span class="label label-default">Brainfuck</span>
											<span class="label label-default">Numberwang</span>
										</td>
									</tr>
								</tr>

							</tbody>
						</table>

						<a href="/jobs/my-jobs" class="btn btn-primary">Jobs Posted</a>
						{%if view_user.id = user.id %} <a href="/jobs/applied-for" class="btn btn-primary">Jobs Applied</a> {% endif %}
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
                {%if view_user.id = user.id %}
                    {% if user.is_superuser %}
                    <div class="btn-group pull-left">
                        <a class="btn btn-sm btn-warning" href="/admin/">
                            <i class="fa fa-gears fa-fw" aria-hidden="true"></i> Admin
                        </a>
                    </div>

                    {% endif %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-primary" href="/my-profile/edit">
                            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit
                        </a>
                        <a class="btn btn-sm btn-danger" href="/accounts/logout/">
                            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Log out
                        </a>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
