{% extends "jobs/base.html" %}
{% block content %}

<div class="focus">
	<div class="listing whiteboard">
		<div class="title white">
			<h1>Your profile</h1>
		</div>
		<div class="description cms">
			<p>Welcome to your profile.</p>
			<ul>
				<li><a href="/jobs/applied-for">Applied Jobs</a></li>
				<li><a href="/jobs/my-jobs">Jobs Posted</a></li>
			</ul>
		</div>
		<div class="cap">
			<div class="button_set">
				<a class="button red" href="/accounts/logout/">Log out</a>
				{% if user.is_superuser %}
				<a class="button green" href="/admin/">Admin</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
