{% extends "jobs/base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
	<div class="focus">
		<div class="listing whiteboard">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>Edit Profile</h1>
				</div>
				<form id="post" enctype="multipart/form-data" name="post" action="" method="post">{% csrf_token %}
					<div class="panel-body">
						{{form|bootstrap_horizontal}}
					</div>

					<div class="panel-footer clearfix">
						{% if user.is_superuser %}
							<div class="btn-group pull-left">
								<a class="btn btn-sm btn-warning" href="/admin/">
									<i class="fa fa-gears fa-fw" aria-hidden="true"></i>
									Admin
								</a>
							</div>
						{% endif %}
						<div class="btn-group pull-right">
							<button id="profilesubmit" class="btn btn-primary btn-sm" type="submit" name="profilesubmit">
								<i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>Save</button>
							<a class="btn btn-sm btn-danger" href="/accounts/logout/">
								<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
								Log out
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
