{% extends "jobs/base.html" %}
{% block content %}

<div class="focus">
	<div class="listing whiteboard">
		<div class="title white">
			<h1>Your profile</h1>
		</div>
		<div class="description cms">
			<p>Account settings</p>
            <p>insert form here</p>
		</div>
		<div class="cap">
			<div class="button_set">
				<a class="button red" href="/accounts/logout/">Log out</a>
				{% if user.is_superuser %}
				<a class="button green" href="/admin/">Admin</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
