{% extends "jobs/base.html" %}
{% block content %}

<div class="focus">
	<div class="listing whiteboard">
		<div class="title white">
			<h1>Your profile</h1>
		</div>
		<div class="description cms">
			<p>Account settings</p>
                <form id="post" enctype="multipart/form-data" name="post" action="" method="post">{% csrf_token %}
                {% for field in form %}
                  {{ field.label }}  {{ field }} <br /><br />
                {% endfor %}
                <input id="profilesubmit" name="profilesubmit" type="submit" value="Save" class="btn btn-primary pull-right"/>
            </form>
		</div>
		<div class="cap">
			<div class="button_set">
				<a class="button red" href="/accounts/logout/">Log out</a>
				{% if user.is_superuser %}
				<a class="button green" href="/admin/">Admin</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
