.quicksearch form span input {
    height: 23px !important;
    padding: 7px 7px 0 7px !important;
}

.form_apply fieldset .field .upload {
    z-index: 1;
}

.form_apply fieldset .field .upload .realupload {
    width: 75px;
    height: 25px;
    left: 0px;
    opacity: 0 !important;
    filter: alpha(opacity = 0);
}

.form_apply fieldset .field .upload .fakeupload input {
    padding-top: 4px;
    height: 21px;
    padding-left: 4px;
}